.news{
    border: solid 2px red;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 500px;
    overflow: hidden;
    display: inline-block;
}
.heading{
    text-align: center;
}
.excerpt{
    text-align: justify;
}
